<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933406334280-r9nddq0o26m74s2jlob0pmmukcn6obpm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933406334280-r9nddq0o26m74s2jlob0pmmukcn6obpm</string>
	<key>API_KEY</key>
	<string>AIzaSyAFOAubmRf0gCExl5IIRP289C9j1-7G1xk</string>
	<key>GCM_SENDER_ID</key>
	<string>933406334280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yeonBlue.eShopMarket</string>
	<key>PROJECT_ID</key>
	<string>eshopmarket-1ecb6</string>
	<key>STORAGE_BUCKET</key>
	<string>eshopmarket-1ecb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933406334280:ios:2e82b4731c884cc0e5277d</string>
</dict>
</plist>